<iframe
       srcdoc="𝜃&nbsp;첨부파일"   
         style="filter: blur(3px);opacity: 25%;" 
   onload="this.removeAttribute('srcdoc')"      
   src="https://front.fileclip.cloud/iframe/link#18"
  frameborder="0"
  name="__link18"
  scrolling="no" 
  loading="lazy" 
  width="130" height="30"  
  data-iconsrc="" 
  data-btntext="" data-addbtntext=""
  data-btncss=""  data-bg="" data-fg=""

></iframe>
<!--  
  아래와 같이 버튼을 스타일이나 표시 언어에 따라 수정할 수 있습니다.
  width="130" height="40"  // 버튼 표시 크기에 맞게 수정하면됩니다.
  data-iconsrc="https://example/path/image.jpg" // 아이콘 이미지 주소를 지정하면 기본아이콘대신 표시됩니다. 
  data-btntext="Attachments"  // 기본값은 콘솔-프레임설정에서 버튼라벨로 지정한 값
  data-iconcss="" // 기본svg아이콘에 적용할 스타일임. 흰색아이콘은  color:white 를 지정하면됨.
  data-addbtntext="Enable Attachments"   //기본값은 "첨부생성"

  data-btncss="background:#333;padding:3px"  // 버튼에 적용할 css 
  data-bg="#333"   // 배경색, 입력하지 않으면 자동으로 페이지에서 가져온 값이 입력됨   
  data-fg="#333"   // 기본text색 , 입력하지 않으면 자동으로 페이지에서 가져온 값이 입력됨                                                                                                                                                                                                                                              
-->
<script>
  window.addEventListener("message", function (e) {
    if (!e || !e.source || !e.data || !e.data.from == "ufiframe") return;
    if(!e|| !e.origin|| (e.origin!="https://front.fileclip.cloud" ) ) return ;
    const uf = e.data.uf;

    if (!uf|| uf!= 18 ) return;
    const iframe = document.querySelector('iframe[name="__link18"]');
    if (!iframe)
      return console.log("no frame found");

    if (e.data.echo && uf) {
      const ret = { ...e.data, ...iframe.dataset };
      ret.name = "ret";
     let element=iframe.parentNode;
     const cc=window.getComputedStyle(element);
       if(!ret.fg) ret.fg=cc.color; 
   
      if(!ret.bg) while (element ) {
        const style = window.getComputedStyle(element);
        const bgColor = style.backgroundColor;
             console.log(bgColor);
        if (!/^rgba\(0,\s*0,\s*0,\s*0\)$/.test(bgColor) && bgColor !== 'transparent') {
            ret.bg= bgColor;
          break;
             }
           
        element = element.parentElement;
    }
          
      ret.host =
        document.querySelector('link[rel="canonical"]')?.href ||
        document.querySelector('meta[property="og:url"]')?.content ||
        location.href;
        /// ret.host 값을 기준으로 첨부폴더가 생성됩니다. 
        /// 하나의 posting에 여러개의 주소를 가지고 있다면 ret.host에는 대표url 하나만 입력되도록 수정해주세요.

       ret.hideCreateBtn  = location.href.indexOf("##")<0  ; 
       //   생성버튼을 가리는 조건입니다. 주소에 ## 를 붙이면 생성버튼이 표시됩니다. 
       //이와 별도로 shift 키를 누르면 생성버튼이  표시됩니다.
      ret.title = document.title;
     
      let evt;
      document.addEventListener('keydown',evt= (event) => {
      if (event.key === 'Shift') {
        ret.name="callback";
        ret.showbtn=1;
        document.removeEventListener('keydown',evt)
        e.source.postMessage(ret, e.origin);
      }
    });

      if (!document.startViewTransition) {
          e.source.postMessage(ret, e.origin);
     iframe.removeAttribute("style");
  

  } else {
     document.startViewTransition(()=>{
    e.source.postMessage(ret, e.origin);
        iframe.style.filter="";
        iframe.style.opacity="";
         
        iframe.removeAttribute("style");
       

    });
  }
    

    }
  });
</script>
